body {
    background-color:brown;
  }

h1 {
  text-align: center;
  background-color: black;
  color: #f1f1f1;
  font-size: 30px;}
.formulario{
  border: 4px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
    
  }
  .formulario > div  {
    display: flex ;
    justify-content: flex-start;
    border-radius: 30%;
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
  }
label {
  width: 600px;
}
.nomb::first-letter {
  height: 60px;
    color: red;
  font-size: 130%;
    
}
.apell::first-letter {
height: 60px;
    color: red;
  font-size: 130%;
    
}
.email::first-letter {
height: 60px;
    color: red;
  font-size: 130%;
    
}
.passwo::first-letter {
height: 60px;
    color: red;
  font-size: 130%;
    
}
.fech::first-letter  {
height: 60px;
    color: red;
  font-size: 130%;
    
}
