body {
    padding: 0;
    margin: 0;
    background: #c0adc0;
    font-size: 25px;
}

/*cabecera del titulo*/
.cabecera {
    margin: auto;
    text-align: center;
    width: 98%;
    line-height: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    padding: 7px;
    background-color: #cae8ca;
    border: 2px solid #cbddcb;
    animation: mymove 3s infinite;

}

@keyframes mymove {
    from {
        background-color: azure;
    }

    to {
        background-color: #aaaa 50%;
    }
}

.nombre {

    padding: 0;
    margin: 0;

}

.nav-contairner {

    padding: 0px;
    margin: 0px;
}

/* nav + sus items*/
.nav-items {
    padding: 0px;
    margin: 0px;
    left: 5px;
    position: relative;
    top:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    height: 100px;
    align-items: center;
}
.nav-items li {
text-align: center;
}
.nav-items{
    transition: 4s;
    color: #27a2b8;
    background: rgb(216, 202, 207);
    height: 100%;
}

.nav-items>li:hover {
    transition: 2s;
    border-top: 4px solid #2b272b;
    font-size: 25px;
    box-shadow: 5px 10px 18px rgb(235, 229, 229);
    background: #dbb4db;
}

li {
    list-style-type: none;

}

li a:link {
    text-decoration: none;

}